img {
  text-align: center;
}

.anh-bia-container {
  /* position: relative; */
  /* height: fit-content; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: unset;
  overflow: hidden;
}

.anh-vien {
  position: fixed;
  right: 0;
  top: 0;
}

.anh-bia .anh-vien {
  height: 1080px;
  width: 707px;
}

.vien-trong {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 50vh;
  left: 30vw;
}

.vien-trong .row {
  background-color: white;
  border: 1px solid;
  border-radius: 40px;
  border-color: #c4c5f1 !important;
  /* position: absolute; */
  width: 1170px;
  height: 606px;
}
.anh-y-te {
  width: 495px;
  margin-top: 70px;
  margin-left: 20px;
}
.anh-may-tinh {
  width: 542px;
  margin-top: 20px;
}
.bo-vien {
  border-radius: 40px;
}
form {
  padding: 20px;
  margin: 20px;
}
.the {
  padding-left: 20px;
  color: #dc3545;
  text-decoration: none;
}
.the2 {
  color: #dc3545;
  font-weight: bold;
  padding-bottom: 20px;
}
.message {
  height: 10px;
  margin-top: 5px;
  color: red;
  display: block;
  position: relative;
}

@media only screen and (max-width: 700px) {
  .anh-vien {
    position: none;
  }
  .vien-trong {
    position: none;
  }
  .vien-trong .row {
    height: 500px;
    justify-content: center;
    align-items: center;
  }
  .anh-y-te {
    display: none;
  }
  .cot {
    width: 0;
  }
  .anh-may-tinh {
    display: none;
  }
}
@media only screen and (max-width: 1915px) {
  .anh-bia-container {
    /* position: relative; */
    /* height: fit-content; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: unset;
    overflow: hidden;
  }
  .anh-vien {
    position: fixed;
    right: 0;
    top: 0;
  }

  .anh-bia .anh-vien {
    width: 520px;
  }

  .vien-trong {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 50vh;
    left: 30vw;
  }

  .vien-trong .row {
    background-color: white;
    border: 1px solid;
    border-radius: 40px;
    border-color: #c4c5f1 !important;
    width: 800px;
    height: auto;
  }
  .anh-y-te {
    width: 364px;
    margin: 20px;
  }
  .anh-may-tinh {
    width: 342px;
    margin: 20px;
  }
  .bo-vien {
    border-radius: 40px;
  }
  form {
    padding: 20px;
    margin: 20px;
  }
  .the {
    padding-left: 20px;
    color: #dc3545;
    text-decoration: none;
  }
  .the2 {
    color: #dc3545;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .message {
    height: 10px;
    margin-top: 5px;
    color: red;
    display: block;
    position: relative;
  }
}
